# Entornos virtuales
.venv/*.*
env/

# Archivos compilados
__pycache__/
*.pyc
*.pyo

# Archivos de log
*.log

# Configuración de editores
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

diario_alimentacion_backup*.db
diario_alimentacion_backup_20250717_132108.db

diario_alimentacion.db